@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4cd137;
  --primary-hover: #45bd32;
}

body {
  @apply antialiased;
}

input::placeholder {
  font-family: "Space Grotesk", sans-serif;
}

/* Add custom animation for loading dots */
@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce {
  animation: custom-bounce 1s infinite;
}

